[Unit]
Description=Ethercalc
After=network.target
Requires=syslog.service
After=syslog.service
Requires=redis.service
After=redis.service

[Service]
Type=simple
User=ethercalc
Group=ethercalc
ExecStart=/usr/bin/ethercalcd
Restart=on-failure

# On envoie stdout et stderr de l'exécutable dans syslog.
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ethercalc

[Install]
WantedBy=multi-user.target


